<div class="container">
  <div class="row align-items-centre">
    <div class="col-12 col-md-6">
      <div class="container fixed">
        <div class="row">
          <div class="header">
            <div class="img-profile">
              <img src="assets/me.jpg" alt="profile">
            </div>
            <div class="profile-info">
              <h1>Vivek Kaushik</h1>
              <h2>I’m Vivek, a 22 years old self-taught developer, from India &nbsp; 🇮🇳</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="link_list">
          <ul>
            <a *ngFor="let linkItem of biotreeLinks;" href="{{linkItem.link}}" target="blank">
              <li class="main-link">
                <h6 class="card-subtitle">{{linkItem.name}}</h6>
                <p class="card-text">{{linkItem.desc}}</p>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>


    <div class="footer fixed-bottom">
      <div class="row icon-row">
        <a href="https://github.com/iamvivekkaushik" class="btn-icon"><img src="assets/social/github.svg"></a>
        <a href="https://www.instagram.com/iamvivekkaushik/" class="btn-icon"><img src="assets/social/insta.svg"></a>
        <a href="https://play.google.com/store/apps/dev?id=4730520787008978199&hl=en" class="btn-icon"><img
          src="assets/social/play_store.svg"></a>
        <a href="https://www.linkedin.com/in/iamvivekkaushik/" class="btn-icon"><img
          src="assets/social/linkedin.svg"></a>
        <a href="https://twitter.com/iamvivekkaushik" class="btn-icon"><img src="assets/social/twitter.svg"></a>
      </div>
      <a href="https://vivekkaushik.com" target="_blank" class="credits">
        <span>Made with &nbsp; ♥️ in &nbsp; 🇮🇳</span>
      </a>
    </div>
  </div>
</div>
