nav {
  margin: 1em 10%;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-start {
  justify-content: start;
}

.section-heading {
  margin: auto;
  text-align: center;
}

.section-heading-paragraph {
  margin: 0;
  letter-spacing: 0.1em;
}

.section-heading-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.hide {
  display: none;
}

.scroll-button {
  display: inline-block;
  background-color: #F05D7A;
  width: 2.1em;
  height: 2.1em;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.2s ease-out 0s, show-scroll-button 0.5s ease-in 0s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  z-index: 1000;
  cursor: pointer;
}

.scroll-button svg {
  color: white;
  width: 30%;
  margin-top: 34%;
}

.scroll-to-top:hover {
  bottom: 33px;
}

.show-scroll-button {
  opacity: 1;
  visibility: visible;
}

/*--------- Section 1 ------------*/

#section-one-main {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-bottom: 4em;
}

#section-one-main #intro {
  margin: auto auto auto 10em;
}

#section-one-main h1 {
  font-weight: bolder;
  font-size: 50px;
  margin: 0;
}

#rectangle-one {
  position: relative;
  left: 90%;
  top: 20px;
}

#triangle-one {
  position: relative;
  left: 80%;
  top: 60px;
}

#vector-one {
  position: relative;
  left: 43%;
  top: 12em;
}

#vector-two {
  position: relative;
  left: 32%;
  top: 29em;
}

#vector-three {
  position: relative;
  left: 86%;
  top: 31.8em;
}

.text-intro {
  margin: 0;
  font-size: 16px;
}

.subtext {
  font-size: 13px;
}

.flex-container a {
  text-decoration: none;
  color: #566078;
}

#section-one #section-one-main .button-pink {
  margin-right: 30px;
}

.button-pink {
  width: 100px;
  height: 40px;
  outline: none;
  background-color: #F05D7A;
  color: white;
  font-family: 'lato', sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.35s ease-in-out, background-color 0.2s ease-in-out;
}

.button-pink:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.35s ease-in-out;
  cursor: pointer;
}

.button-pink:active {
  background-color: #9c4047;
  transition: background-color 0.35s ease-in-out;
}

.button-outline {
  outline: none;
  width: 100px;
  height: 40px;
  background-color: transparent;
  font-family: 'lato', sans-serif;
  font-size: 11px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #F05D7A;
  color: #F05D7A;
  box-shadow: none;
  transition: box-shadow 0.35s ease-in-out, background-color 0.2s ease-in-out;
}

.button-outline:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.35s ease-in-out;
  cursor: pointer;
}

.button-outline:active {
  background-color: #a2a2a2;
  transition: background-color 0.35s ease-in-out;
}

#social-box {
  width: 220px;
  background-color: #FAF9FB;
  padding: 0 20px;
  position: relative;
  top: 25em;
  right: -85.4%;
  border-radius: 40px 0 0 40px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.07);
}

.social-icons {
  width: 40px;
  height: 40px;
  margin: 7px 15px;
}


/*------- Section 2 ------*/

#section-two .card {
  background-color: white;
  width: 80%;
  padding: 40px 40px 60px;
  border: none;
  border-radius: 6px;
  margin: auto;
}

#triangle-two {
  position: relative;
  bottom: 30em;
}

#triangle-three {
  position: relative;
  bottom: 20em;
  left: 97%;
}

.about-paragraph {
  letter-spacing: 0.09em;
  font-family: 'Nunito', sans-serif;
  text-align: justify;
}

/*------- Section 3 ------*/

#section-three {
  margin: auto;
}

#section-three-container {
  padding: 20px;
  margin-top: 3em;
  justify-content: space-evenly;
}

#section-three img {
  height: 24em;
}

#tech-icons {
  width: 50%;

}

#tech-icons .flex-container img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

#tech-icons .flex-container p {
  margin: auto 0;
  color: #0F0E12;
  font-family: 'Nunito', sans-serif;
}

#section-three #vector-four {
  height: 30px;
  position: relative;
  left: 20em;
  top: -20px;
}

#section-three #triangle-four {
  height: 30px;
  position: relative;
  left: 40%;
  top: 30px;
}

#section-three #triangle-five {
  width: 30px;
  height: 34px;
  position: relative;
  left: 70%;
  top: 3em;
}

#section-three #rectangle-two {
  width: 43px;
  height: 43px;
  position: relative;
  left: 68%;
  top: 6em;
}

#section-three #vector-five {
  width: 25px;
  height: 25px;
  position: relative;
  top: 20em;
}

/*------- Section 4 ------*/

#section-four {
  margin: auto;
}

#triangle-six {
  position: relative;
  top: 5em;
  left: 100%;
}

#section-four {
  margin-top: 6em;
}

#section-four .card {
  background-color: white;
  width: 90%;
  padding: 40px 40px 80px;
  border: none;
  border-radius: 6px;
  margin: auto auto 70px;
}

.about-paragraph {
  letter-spacing: 0.09em;
  font-family: 'Nunito', sans-serif;
}

#skill-section {
  margin-top: 2em;
  height: 18em;
}

.skill-text-container {
  margin-left: 20px;
  width: 20em;
}

.skill-text-heading {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin: 10px 0 0;
}

.skill-text-about {
  font-size: 13px;
  width: 85%;
  margin-top: 8px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.03em;
}

#rectangle-three {
  position: relative;
  bottom: 105px;
  z-index: -1;
}

/*------- Section 5 ------*/

#section-five {
  width: 85%;
  margin: auto;
}

#section-five .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

#section-five .flex-container-reverse {
  flex-direction: row-reverse;
}

#section-five .flex-container .project-screenshot {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

#section-five .flex-container .project-description {
  flex-basis: 48%;
  flex-grow: 0;
  flex-shrink: 0;
}

#section-five .flex-container .project-screenshot img {
  display: block;
  margin: auto;
  width: 60%;
}

#section-five .flex-container .project-description h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

#section-five .flex-container .project-description p {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  letter-spacing: 0.07em;
  font-size: 13px;
}

#section-five .flex-container .button-outline {
  margin-left: 30px;
  border: 1px solid #0F0E12;
  color: #0F0E12;
}


/*------- Section 6 ------*/

#section-six {
  margin-top: 100px;
  text-align: center;
}

#section-six .card {
  background-color: white;
  width: 70%;
  padding: 20px 20px 20px;
  border: none;
  border-radius: 6px;
  margin: 0 auto;
}

#section-six .card p {
  font-family: 'Lato', sans-serif;
  margin: 0 0 30px;
}

#section-six #email {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: xx-large;
  color: #5B5D66;
  cursor: pointer;
  text-decoration: none;
}

#triangle-seven {
  position: relative;
  top: 5em;
  left: 30%;
}

#vector-six {
  position: relative;
  left: 100%;
  top: 40em;
}

#triangle-eight {
  position: relative;
  left: -40px;
  bottom: 34em;
}

#vector-seven {
  position: relative;
  left: 80%;
}

/*------- Social Links ------*/
#social-links {
  margin: 3em auto 3em;
  width: 60%;
}

#social-links img {
  width: 30px;
}

/*------- Footer ------*/

footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: x-small;
  text-align: center;
  margin: 10px 0 10px;
}

#rectangle-five {
  position: relative;
  bottom: 30px;
  left: -35%;
  z-index: -1;
}

#triangle-nine {
  position: relative;
  left: -42%;
}

#vector-eight {
  position: relative;
  bottom: 45px;
  left: 20%;
}

/*------- Responsive (screen: 1300 or less) ------*/

@media screen and (max-width: 1300px) {
  #section-one-main {
    padding-right: 12%;
  }
}

/*------- Responsive (screen: 1200 or less) ------*/

@media screen and (max-width: 1200px) {

  #social-box {
    right: -83.4%;
  }

  #rectangle-three {
    left: -1%;
  }

  #section-three #vector-five {
    left: -5%;
  }
}

/*------- Responsive (screen: 1100 or less) ------*/

@media screen and (max-width: 1100px) {
  #social-box {
    right: -81%;
  }

  #vector-three {
    left: 82%;
  }

  #rectangle-three {
    position: relative;
    left: -3%;
  }
}

/*------- Responsive (screen: 1000 or less) ------*/

@media screen and (max-width: 1000px) {
  #section-one-main {
    padding-right: 2%;
  }

  #section-one-main #intro {
    margin: auto;
  }

  #social-box {
    right: -78%;
  }

  .skill-text-container {
    width: 18em;
  }

  #section-three #vector-five {
    left: -10%;
  }

  #section-five .flex-container .project-screenshot img {
    width: 70%;
  }
}

/*------- Responsive (screen: 900 or less) ------*/

@media screen and (max-width: 900px) {
  #social-box {
    right: -74%;
  }

  #vector-three {
    left: 75%;
  }

  .skill-text-container {
    width: 16em;
  }
}

/*------- Responsive (screen: 800 or less) ------*/

@media screen and (max-width: 800px) {
  #section-one-main {
    padding-right: 0;
  }

  #social-box {
    right: -70%;
  }

  #vector-one {
    left: 35%;
  }

  #vector-two {
    left: 22%;
  }

  #section-three #vector-five {
    left: -16%;
  }

  .skill-text-container {
    width: 14em;
  }

  .skill-text-about {
    width: 90%;
  }

  #social-links {
    width: 70%;
  }
}

/*------- Responsive (screen: 700 or less) ------*/

@media screen and (max-width: 700px) {
  #social-box {
    right: -62%;
  }

  #vector-three {
    left: 63%;
  }

  #section-four .card {
    width: 80%;
  }

  .skill-text-container {
    width: 11em;
  }

  #section-five .flex-container .project-screenshot img {
    width: 80%;
  }
}

/*------- Responsive (screen: 600 or less) ------*/

@media only screen and (max-width: 600px) {
  .profile_pic, #social-box, .tech_stack_pic {
    display: none;
  }

  #section-one-main #intro {
    margin: auto;
  }

  #section-one-main {
    padding-right: 0;
    margin: 5em auto 8em;
  }

  #rectangle-one {
    left: 85%;
  }

  #triangle-one {
    left: 60%;
    top: 40px;
  }

  #vector-one {
    top: 14em;
    left: -20%;
  }

  #vector-two {
    top: 24em;
  }

  #section-three #vector-four {
    left: 0;
  }

  #section-three #tech-icons {
    height: 22em;
    justify-content: space-between;
  }

  #skill-section {
    margin-top: 6em;
  }

  .skill-row {
    flex-direction: column;
  }

  .skill-text-container, #tech-icons, #section-five .flex-container .project-screenshot img {
    width: 100%;
  }

  #section-five .flex-container {
    flex-direction: column;
  }

  #section-six #email {
    font-size: x-large;
  }

  #vector-three, #triangle-three, #vector-six, #triangle-six {
    display: none;
  }

  #triangle-seven {
    left: 10%;
  }

  #section-three #vector-five {
    left: 20%;
  }

  #social-links {
    width: 80%;
  }
}
